header {
  background: var(--color-dark);
  padding: 10px;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2 {
    font-size: 22px;
    color: var(--color-white);
    font-family: "Playfair Display", serif;
    letter-spacing: 0.0006em;
  }
}
